/*2013-09-29 lv common start*/
html,body,h1,h2,h3,h4,h5,div,p,ul,ol,dl,dt,dd,fieldset,img,q,i,em,sub,sup,strong,form{margin:0;padding:0;list-style:none;font-style: normal;font-weight:normal;border:0 none;}
body{font-family:"Helvetica Neue",Helvetica,"STheiti","Microsoft Yahei","SimHei",Arial,Tahoma,sans-serif,serif;font-size:90%;-webkit-text-size-adjust:none;color:#131313;background:#eee;line-height:1.5;margin:0 auto;min-width:320px;}
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
table{border-spacing:0; border-collapse:collapse;width:100%;}
a{text-decoration:none;}
a:focus,input:focus,textarea:focus{outline:none;}
a{color:#131313;}
/*clear fix*/
.cf:before,.cf:after{content:"";display:table}
.cf:after{clear:both}
.cf{*zoom:1}
/*color*/
.red_color{color:#ed2100;}
.gray_color{color:#898989;}
.orange_color{color:#fe5413;}
a.red{color:#e41300;}
a.blue{color:#2980b9;}
a.blue2{color:#00aeef;}
/*float*/
.left{float:left;}
.right{float:right;}
/*align*/
.center_align{ text-align:center;}
/*font size*/
.f_12{ font-size:.8em;}
.f_30{ font-size:2.1em;}
/*button*/
button,input{font-family:"Helvetica Neue",Helvetica,"STheiti","Microsoft Yahei","SimHei",Arial,Tahoma,sans-serif,serif;font-size:.9em;}
/*输入框和验证码点击加外边框*/
input[type="text"],.input_focus input.text_left[type="text"],input[type="password"]{border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;-webkit-box-shadow:0 -1px 1px rgba(0,0,0,0.1);-moz-box-shadow:0 -1px 1px rgba(0,0,0,0.1);box-shadow:0 -1px 1px rgba(0,0,0,0.1);width:100%;padding-left:.5em;height:36px;color:#464646; border:none;}
input[type="text"]:focus,.input_focus input.text_left[type="text"]:focus,input[type="password"]:focus{-webkit-box-shadow:0 -1px 1px rgba(0,0,0,0.2),0 0 10px rgba(0,0,0,0.3);-moz-box-shadow:0 -1px 1px rgba(0,0,0,0.2),0 0 10px rgba(0,0,0,0.3);box-shadow:0 -1px 1px rgba(0,0,0,0.2),0 0 10px rgba(0,0,0,0.3);}
.input_focus input.text_left[type="text"]{ height:25px;}
/*登录注册模块输入框点击加外阴影*/
.input_focus input[type="text"],.input_focus input[type="password"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #f96700;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.input_focus input[type="text"]:focus,.input_focus input[type="password"]:focus{-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);-moz-box-shadow:0 0 10px rgba(0,0,0,0.3);box-shadow:0 0 10px rgba(0,0,0,0.3);}
input[type="button"]{border:1px solid #f96700;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em; width:100%; height:41px; line-height:40px; cursor:pointer;text-align:center;color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#f86700), to(#eb6100));background-image:-moz-linear-gradient(#f86700,#eb6100);background-image:-ms-linear-gradient(#f86700,#eb6100);background-image:-o-linear-gradient(#f86700,#eb6100);background-image:linear-gradient(#f86700,#eb6100);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2); font-size:1.2em; background-color:#f86700;}
button{border:1px solid #bdbdbd;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;height:41px; line-height:40px; cursor:pointer;text-align:center;color:#131313;background-image:-webkit-gradient(linear,left top,left bottom,from(#f6f6f6), to(#e4e4e4));background-image:-webkit-linear-gradient(#f6f6f6,#e4e4e4);background-image:-moz-linear-gradient(#f6f6f6,#e4e4e4);background-image:-ms-linear-gradient(#f6f6f6,#e4e4e4);background-image:-o-linear-gradient(#f6f6f6,#e4e4e4);background-image:linear-gradient(#f6f6f6,#e4e4e4);padding:0 .5em; font-size:1.2em;}

/*input输入框默认文字颜色*/
input::-webkit-input-placeholder {color:#b7b7b7;}
input:-moz-placeholder{color:#b7b7b7;}
/*2013-09-29 lv common end*/

/*2013-09-29 lv top start*/
.top{ width:100%; position:fixed; top:0; left:0;height:41px;line-height:41px;border-top:1px solid #fed588;border-bottom:1px solid #bd5b13;background:#f3761a;font-size:1.3em;text-align:center;color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#ff9523), to(#f17219));background-image:-webkit-linear-gradient(#ff9523,#f17219);background-image:-moz-linear-gradient(#ff9523,#f17219);background-image:-ms-linear-gradient(#ff9523,#f17219);background-image:-o-linear-gradient(#ff9523,#f17219);background-image:linear-gradient(#ff9523,#f17219); z-index:10;}
.back_icon,.index_icon,.back_icon2{background-image:url(../images/icons.png); background-repeat:no-repeat;position:absolute; top:.6em;display:inline-block;cursor:pointer;}
.back_icon,.back_icon2{ background-position:0 0;left:.5em;width:30px; height:25px;}
.index_icon{background-position:0 -711px;width:30px; height:30px; position:absolute;top:7px;right:4px;}
.main{/*padding:58px 5% 150px;*//*padding:58px 5% 22px;*/padding:58px 5% 50px;}
/*2013-09-29 lv top end*/

.detail_top{ width:100%; position:fixed; top:0; left:0;height:41px;line-height:41px;border-top:1px solid #fed588;border-bottom:1px solid #bd5b13;background:#f3761a;font-size:1.3em;text-align:center;color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#ff9523), to(#f17219));background-image:-webkit-linear-gradient(#ff9523,#f17219);background-image:-moz-linear-gradient(#ff9523,#f17219);background-image:-ms-linear-gradient(#ff9523,#f17219);background-image:-o-linear-gradient(#ff9523,#f17219);background-image:linear-gradient(#ff9523,#f17219); z-index:10;}
.back_icon_detail{background:url(../images/icons.png) 0 0 no-repeat;position:absolute;width:30px; height:25px;left:.5em; top:.6em; display:inline-block;}


/*2013-09-29 lv register start*/
.register,.login_wrapper{padding-bottom:10px;}
.register dt{position:relative;}
.register dt span,.login_wrapper dt span{position:absolute; right:10px; top:14px;background-image:url(../images/icons.png); background-repeat:no-repeat;}
.right_icon{background-position:0 -184px; width:18px; height:13px;}
.wrong_icon{background-position:0 -223px; width:14px; height:14px;}
.register dd,.login_wrapper dd{font-size:.8em;color:#e41300; padding-top:10px;height:17px;}
.btn_wrapper{ padding-top:20px;}
/*2013-09-29 lv register end*/

/*2013-09-29 lv login start*/
.login_wrapper dt{-webkit-border-radius:.3em;border:1px solid #f96700;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;width:100%;height:36px;background-color:#fff;position:relative;}
.login_wrapper dt input[type="text"],.login_wrapper dt input[type="text"]:focus,.login_wrapper dt input[type="password"],.login_wrapper dt input[type="text"]:focus{border:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.login_wrapper dt.login_wrapper_on{-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);-moz-box-shadow:0 0 10px rgba(0,0,0,0.3);box-shadow:0 0 10px rgba(0,0,0,0.3);}
.login_wrapper dt em,.login_wrapper dt em.on_1{background-image:url(../images/icons.png); background-repeat:no-repeat; width:37px; height:28px; border-right:1px solid #eaeaea; position:absolute; left:0; top:5px; display:inline-block;}
.login_wrapper:first-of-type dt em{background-position:-20px -20px;}
.login_wrapper:first-of-type em.on_1{background-position:10px -20px;}
.login_wrapper:last-of-type dt em{background-position:10px -54px;}
.login_wrapper:last-of-type dt em.on_1{background-position:-20px -54px;}
.login_wrapper input{margin-left:38px; border:none; background:none; width:86%;}
/*2013-09-29 lv login end*/

/*2013-10-08 lv 保单服务 start*/
/*pic focus start*/
.picFocus{position:relative; top:43px;}
#banner{width:100%;overflow:hidden;z-index:4; position: relative;}
#banner a,#banner img{width:100%;}
#inslist li{float:left;width:100%;}
#pic_btn{position:absolute;z-index:5;width:50px;height:15px;left:50%;bottom:5px;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
#pic_btn span{ background:url(../images/circle_icon.png) 0 0 no-repeat;width:7px;height:7px;float:left;margin-right:5px;text-indent:-9999px;}
#pic_btn span.sel{background:url(../images/circle_icon.png) -11px 0 no-repeat;}
/*pic focus end*/
.service_box{min-height:36px;line-height:36px;background-color:#fff;margin-bottom:12px;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2);}
.service_box a{display:block;padding:0 36px;line-height:36px;position:relative;}
.service_box a.set_p{padding-left:20px;}/*设置*/
.service_box a.red{ display:inline; padding:0; line-height:normal;}
/*保单服务图标 start*/
.service_box em{background-image:url(../images/service_icons.png);background-repeat:no-repeat;width:22px;height:20px;position:absolute;left:10px;top:10px;}
.s_icon1{background-position:0 0;}
.s_icon2{background-position:0 -47px;}
.s_icon3{background-position:0 -94px;}
.s_icon4{background-position:0 -141px;}
.s_icon5{background-position:0 -188px;}
.s_icon6{background-position:0 -235px;}
.s_icon7{background-position:0 -278px;}
.s_icon8{background-position:0 -323px;}
.s_icon9{background-position:0 -370px;}
.s_icon10{background-position:0 -414px;}
.arrow_icon,.arrow_icon2{background:url(../images/arrow.png) 0 0 no-repeat;width:6px;height:11px;position:absolute;right:14px;}
.arrow_icon{top:12px;}
.arrow_icon2{top:50%; margin-top:-6px;}
/*保单服务图标 end*/
.service_tip{color:#959595; border-top:1px dotted #e5e5e5; display:block; margin:0 6px; font-size:.8em;}
/*2013-10-08 lv 保单服务 end*/

/*2013-10-08 lv 保单服务查询结果 start*/
.jag_bg{background:url(../images/jag_bg.png) left bottom repeat-x;font-size:1em; margin-top:43px; padding-bottom:7px;}
.jag_color{background-color:#fff;padding:10px;}
/*保单服务查询结果表格 start*/
.service_table,.service_note{background-color:#fff;padding:10px;font-size:1em;margin-bottom:15px;}
.table_list{border-top:1px dotted #b9b9b9;border-bottom:1px dotted #d4d4d4;text-align:center;font-size:14.4px;}
.table_list th,.table_list td{border-bottom:1px dotted #b9b9b9;border-right:1px dotted #b9b9b9;}
.table_list th:last-child,.table_list td:last-child{border-right:none;}
.table_list th{color:#898989;font-weight:normal;}
.table_list td{padding:5px;}
.table_list td p{word-break:break-all;word-wrap:break-word; display:inline-block; width:100%;}
.table_list td p:last-child{border-top:1px dotted #b9b9b9;}
.table_list td p:only-child{border:none;}
.w_60{width:60%;}
.w_50{width:50%;}
.w_40{width:40%;}
.w_20{width:20%;}
.w_30{ width:30%;}
/*保单服务查询结果表格 end*/
/*表格备注内容*/
.service_note{-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2);line-height:2em;}
/*2013-10-08 lv 保单服务查询结果 end*/

/*2013-10-08 lv 保单查询结果 start*/
.chit_title{ font-size:1em;line-height:2em;}
.chit_title span{color:#636363; font-size:.8em; padding-left:15px;}
.chit_dl{padding-bottom:10px;}
.chit_dl dt{color:#999;text-align:right; width:30%; float:left;}
.chit_dl dd{ margin-left:35%;}
/*2013-10-08 lv 保单查询结果 end*/

/*2013-10-16 lv 状态页 start*/
.status_wrapper{background:url(../images/status_icon.png) center top no-repeat;margin-top:55px;width:200px;margin:55px auto;padding-top:125px;text-align:center;}
.wrong_bg{background:url(../images/404.png) center top no-repeat;padding-top:98px;}
.status_wrapper span{color:#f96700; font-size:1.3em; font-weight:bold;}
.status_wrapper p{color:#333; font-size:.8em; line-height:1.8em;}
.status_wrapper a{ background-image:url(../images/service_icons.png); background-repeat:no-repeat;width:36px;padding-top:36px; display:inline-block;margin:15px 17px 0;}
.return_icon1{ background-position:0 -715px;}
.return_icon2{ background-position:0 -780px;}
.refresh_icon{ background-position:0 -845px;}
/*2013-10-16 lv 状态页 end*/


/*2013-10-17 lv 我的阳光 start*/
.set_icon{background:url(../images/icons.png) 0 -475px no-repeat;width:25px; height:25px; display:inline-block;position:absolute;right:40px;top:8px;}
.info_box,.gy_nr div{min-height:36px;background-color:#fff;margin-bottom:12px;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2);}
.info_wrapper{ padding-bottom:8px;}
.info_wrapper dt{ float:left;width:75px;}
.info_wrapper dt img{width:75px;height:75px;}
.info_wrapper dd{ margin-left:75px; margin-left:82px;}
.info_wrapper dd h3{ font-size:1.3em; padding-bottom:5px;}
.rate{width:80%; height:11px; line-height:0; background-color:#c7b299;display:inline-block;}
.rate em{background-color:#f96700; display:inline-block; height:100%;}
.yg_title{border-radius:.3em .3em 0 0;-moz-border-radius:.3em .3em 0 0;-webkit-border-radius:.3em .3em 0 0;background-image:-webkit-gradient(linear,left top,left bottom,from(#ff7e23), to(#f37822));background-image:-webkit-linear-gradient(#ff7e23,#f37822);background-image:-moz-linear-gradient(#ff7e23,#f37822);background-image:-ms-linear-gradient(#ff7e23,#f37822);background-image:-o-linear-gradient(#ff7e23,#f37822);background-image:linear-gradient(#ff7e23,#f37822);text-align:center;color:#fff; height:30px; line-height:30px; font-size:1em;}
.yg_txt{padding:10px; line-height:24px;}
.yg_txt p{ text-indent:2em;color:#444;}
.yg_btn{width:100%;height:15px; text-align:center;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.yg_btn span{ background:url(../images/circle_icon.png) 0 0 no-repeat;width:7px;height:7px;margin-right:5px;text-indent:-9999px; display:inline-block;}
.yg_btn span.sel{background:url(../images/circle_icon.png) -11px 0 no-repeat;}

.gy_list li{float:left;width:68px;height:68px; margin-right:5px; position:relative;text-align:center; background-color:#f98e30;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em; font-size:.8em;}
.gy_list li.gray{background-color:#898989;}
.gy_list li.on{background-color:#fe4b42;}
.gy_list li:last-child{ margin-right:0;}
.gy_list li:last-child span{ line-height:-10px;}
.yg_num{ position:absolute; right:5px;top:5px; line-height:normal; font-weight:bold;}
.gy_list li a{color:#fff;}
.gy_list li em{background-image:url(../images/service_icons.png);background-repeat:no-repeat;display:block;width:100%;height:44px;}
.gy_list li em.p_icon1{background-position:20px -902px;}
.gy_list li em.p_icon2{background-position:-33px -581px;}
.gy_list li em.p_icon3{background-position:20px -964px;}
.gy_list li em.p_icon4{background-position:17px -1036px; height:35px;}

.gy_nr{ margin-top:12px;padding:8px;border:1px solid #cacaca; background:#d8d8d8;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;-webkit-box-shadow:0 0 1px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 0 1px rgba(0,0,0,0.2) inset;box-shadow:0 0 1px rgba(0,0,0,0.2) inset;position:relative;}
.gy_nr:after{content:"";position:absolute;top:-9px; border-width:0 10px 10px 10px; border-style:solid;border-color:#d8d8d8 transparent; display:block;width:0;}
.gy_dis1:after{left:23px;}
.gy_dis2:after{left:95px;}
.gy_dis3:after{left:170px;}
.gy_dis4:after{left:240px;}
.gy_nr div{padding:10px; position:relative;}
.gy_nr div strong{ font-weight:bold; font-size:1.2em;}
.gy_nr div p{padding:10px 0; line-height:1.7em;}
.gy_dl dt,.gy_dl dd{ display:inline-block;}
.yg_section button{ width:38%; vertical-align:middle; margin-right:2%;}
.btn_red{color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#f86700), to(#eb6100));background-image:-webkit-linear-gradient(#f86700,#f17219);background-image:-moz-linear-gradient(#f86700,#eb6100);background-image:-ms-linear-gradient(#f86700,#eb6100);background-image:-o-linear-gradient(#f86700,#eb6100);background-image:linear-gradient(#f86700,#eb6100); border:none;}
.btn_brown{color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#988574), to(#857466));background-image:-webkit-linear-gradient(#988574,#857466);background-image:-moz-linear-gradient(#988574,#857466);background-image:-ms-linear-gradient(#988574,#857466);background-image:-o-linear-gradient(#988574,#857466);background-image:linear-gradient(#988574,#857466);border:none;}
/*2013-10-17 lv 我的阳光 end*/

/*2013-10-18 lv 理赔信息 start*/
.claims_pd{position:relative; margin-bottom:5px;}
.claims_icon{position:absolute;left:0;top:0; background:url(../images/icons.png) 0 -520px no-repeat; width:17px; height:32px; text-align:center;display:inline-block;color:#fff;padding-right:15px;}
.trade_title{ font-size:1.2em; padding-bottom:5px;}
/*2013-10-18 lv 理赔信息 end*/

/*2013-10-18分页 start*/
.page{ position:relative; background:url(../images/page_icon.png) right center no-repeat; padding-right:15px; display:inline-block; margin:0 15px; }
.page_select{ width:100%; height:22px; line-height:22px; position:absolute; left:0; top:0; opacity: 0;filter: alpha(opacity = 0); text-align:center;font-size:1em;}
/*2013-10-18分页 end*/

/*2013-10-11 lv footer start*/
.footer_b{position:relative; width:100%; left:0; bottom:0;border-top:1px dashed #b0b0b0;background:#eee;}
.bottom{width:90%; padding:0 5%;position:absolute;font-size:.9em;left:0;top:-25px; height:31px; line-height:31px;background-color:#eee;font-size:.8em;background-image:-webkit-gradient(linear,left top,left bottom,from(#fbfbfb), to(#f1f1f1));background-image:-moz-linear-gradient(#fbfbfb,#f1f1f1);background-image:-ms-linear-gradient(#fbfbfb,#f1f1f1);background-image:-o-linear-gradient(#fbfbfb,#f1f1f1);background-image:linear-gradient(#fbfbfb,#f1f1f1);}
.bottom a{color:#18a1dd;}
a.top_icon{background:url(../images/top_arrow.png) left center no-repeat;padding-left:13px;position:absolute;right:5%;bottom:0;display:none;color:#484848;}
.footer{height:93px;background-color:#dedede;border-top:1px dashed #fff; padding:15px 0;text-align:center;}
.footer p button{ width:30.3%;margin-right:3%;font-size:1em; height:31px; line-height:30px;} 
.footer p button:last-child{ margin-right:0;}
.footer dl{margin:10px auto 0; width:215px; font-size:.9em;}
.footer dt{float:left;width:49px;height:49px;}
.footer dd{text-align:left;color:#666;}
.footer dd p{ padding-bottom:10px;}
.phone_icon{ background:url(../images/icons.png) 0 -93px no-repeat;width:16px;height:16px; display:inline-block; vertical-align:middle;}
a.help_icon{background-color:#ffa1a1;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;color:#fff;padding:0 5px;}
/*2013-10-11 lv footer end*/

/*2013-10-21 lv 跑马灯 start*/
.icon_l,.icon_r{background-image:url(../images/icons.png); background-repeat:no-repeat;width:23px;height:23px; position:absolute;top:40%; display:inline-block; cursor:pointer;}
.icon_l{background-position:0 -580px;left:1%;}
.icon_r{background-position:0 -623px;right:1%;}
.pst{position:relative}
.details_list ul.pic_marquee{margin:0 auto;width:80%; padding:20px 0;}
.details_list ul.pic_marquee li{ float:left; width:33.3%; padding:0 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; height:auto; line-height:normal; background:none;}
.pic_marquee li p{border:1px solid #b5b5b5; padding:2px; margin-bottom:10px;}
.pic_marquee li p img{ width:100%; max-height:400px; display:block;}
/*2013-10-21 lv 跑马灯 end*/

/*2013-10-29 lv 服务资讯 start*/
.index_info_list{ padding-bottom:20px;}
.index_info_list li{background:url(../images/icons.png) 0 -421px no-repeat;padding-left:15px; line-height:2.5em; border-bottom:1px dashed #bebebe;}
.index_info_list a{background:url(../images/arrow_icon.png) right center no-repeat;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; padding-right:15px;color:#555;}
.index_yg img{width:300px;}
/*2013-10-29 lv 服务资讯 end*/

/*2013-11-01 关于阳光 lv start*/
.about_box img{ width:100%; display:block; padding-bottom:25px;}
.about_box p{ text-indent:2em; padding-bottom:25px;}
/*2013-11-01 关于阳光 lv end*/

/*实名认证通过*/
.correct{ text-align:center;padding-bottom:10px;}
.correct_icon{background:url(../images/icons.png) 0 -184px no-repeat;width:18px;height:13px; display:inline-block; margin-right:5px; vertical-align:middle;}

/*2013-11-12 我的订单 lv start*/
.order_title{color:#000; font-size:1.3em; padding-bottom:6px;}
.delete_icon,.delete_icon2{ background-image:url(../images/icons.png); background-repeat:no-repeat;width:23px; height:23px; display:inline-block; position:absolute; }
.delete_icon{right:10px; top:68px; background-position:0 -675px;}
.delete_icon2{background-position:-26px -675px;margin:.5em .5em 0 0;position:static;float:right;}
/*2013-11-12 我的订单 lv end*/

/*2013-11-20 产品中心 lv start*/
.pc p{padding-bottom:20px;}
.pc_list{padding:10px;}
.pc_list dt{color:#000; font-size:1.2em; padding-bottom:6px;}
.pb_none dt{ padding-bottom:0;}
.approve{color:#ed2100; margin-right:20px; float:right;}
.pc_list dd{color:#7d7d7d;}
.pc_main{padding:43px 0 50px;}
.pc_title{color:#333; background-color:#e9e9e9;font-size:1.2em; height:35px; line-height:35px; padding:0 10px}
.pc_box{background-color:#fafafa; padding:20px 10px;}
.pc_dl{ padding-bottom:10px;}
.pc_box .pc_dl:nth-last-of-type(1){ padding-bottom:0;}
.pc_dl dt{ float:left;width:75px;text-align:right;}
.pc_dl dd{ /*float:left; width:67%;*/ margin-left:85px;}
.pc_dl dd.pc_check{ padding:0 10px;}
.pc_7 dt{width:102px;}
.pc_7 dd{margin-left:112px;}
.pc_dl dd.mask_dd{position:absolute;width:100%;height:100%;margin:0;z-index:1000;display:none;}
/*.pc_dl dd.pc_w1{width:75%;}
.pc_dl dd.pc_w5{width:50%;}
.pc_dl dd.pc_w4{width:72%;}
.pc_dl dd.pc_w3{width:62%;}*/
.pc_dl dd.pc_w3 .k_w{ width:98%;}
.pc_dl dd.pc_w6{/*width:97%;*/ margin-left:5px;}
.pt_5px{ padding-top:5px;}
.pc_dl dd.pc_choose{ padding:5px 0;}
.pc_dl dd.pc_choose span{display:inline-block;width:37px;height:22px;border:1px solid #a1a1a1;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em; text-align:center; cursor:pointer; margin-right:7px;}
.pc_dl dd.pc_choose span.on{ background:url(../images/pc_icon.png) right bottom no-repeat;border-color:#ea5300;}
.lc_width dd{ width:100%; text-align:center; margin-left:0;}
.lc_width dd.pc_choose span{ width:22.5%;}
.lc_width dd.pc_choose span:last-child{ margin-right:0;}
.pc_btn{ padding:20px 10px 0;}
.pc_txt{ padding-bottom:10px;color:#333;}
.cut_icon1,.add_icon1,.cut_icon2,.add_icon2{ background-image:url(../images/icons.png); background-repeat:no-repeat; width:21px; height:21px; display:inline-block;vertical-align:middle;cursor:pointer;}
.cut_icon1{ background-position:0 -766px;}
.add_icon1{ background-position:0 -816px;}
.cut_icon2{ background-position:-27px -766px;}
.add_icon2{ background-position:-27px -816px;}
input.num_input[type="text"]{ background-color:#f3f3f3; text-align:center;width:32px;height:26px;margin:0 10px; padding:0;}
input.num_input[type="text"]:focus{-webkit-box-shadow:0 -1px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 -1px 1px rgba(0, 0, 0, 0.1);box-shadow:0 -1px 1px rgba(0, 0, 0, 0.1);}
.flow_pic,.flow_pic2,.flow_pic3{background-position:center center;background-repeat:no-repeat;height:74px;}
.flow_pic{background-image:url(../images/flow_pic.png);}
.flow_pic2{background-image:url(../images/flow_pic2.png);}
.flow_pic3{background-image:url(../images/flow_pic3.png);height:168px;}
.flow_pic span,.flow_pic2 span{ visibility:hidden; display:inline-block;width:24%;}
.margin_10{ margin:10px 0;}
.pc_box table td{ font-size:12px; padding:5px 0;}
.pc_bold{font-size:1.2em;padding:10px 0; display:block;}
.lc_box,.pc_nr,.pay_result{ border:1px solid #cfcfcf;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em; background-color:#fff;}
.lc_box .pc_dl,.pc_nr .pc_dl{border-bottom:1px solid #cfcfcf; line-height:36px; padding-bottom:0;}
.pc_nr .pc_dl{ border-bottom:none;}
.pc_nr .pc_dl dd{ width:60%;}
.lc_box .pc_dl:last-child{ border-bottom:none;}
.lc_box .pc_dl input[type="text"],.lc_box .pc_dl input[type="text"]:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; background:none; font-size:1em;}
.lc_box .pc_dl .dataDD{height: 36px;line-height:36px;border:none;box-shadow:none; -moz-box-shadow:none;-webkit-box-shadow:none; background-color:transparent;}
.lc_box .pc_dl .sex_bg,.lc_box .pc_dl .sex_bg2{display:inline-block; vertical-align:middle!important;}
 @media all and (min-width:0px){.lc_box .pc_dl .sex_bg,.lc_box .pc_dl .sex_bg2{margin-top:6px\0;}}  /*opera*/
 @media screen and (-webkit-min-device-pixel-ratio:0){.lc_box .pc_dl .sex_bg{margin-top:6px;}}  /*chrome and safari*/

.lc_box .pc_dl .kindsDD{ position:relative; vertical-align:top; width:98%; margin-top:4px;background-color:#fafafa;}
.lc_box .pc_dl .pc_w2{width:55%;}
.lc_box .pc_dl .date_width{ width:39%;display:inline-block;}

.btn_width{ text-align:center;}
.btn_width input[type="button"]{width:48%;margin:0 1%;}
.lc_choose{ text-align:center;display:inline-block;border:3px solid #fff; line-height:23px;border-radius:1em;-moz-border-radius:1em;-webkit-border-radius:1em; width:112px; height:23px;background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8), to(#c2c2c2));background-image:-moz-linear-gradient(#f8f8f8,#c2c2c2);background-image:-ms-linear-gradient(#f8f8f8,#c2c2c2);background-image:-o-linear-gradient(#f8f8f8,#c2c2c2);background-image:linear-gradient(#f8f8f8,#c2c2c2);}
.lc_choose em{ text-align:center; width:49%; display:inline-block; cursor:pointer;}
.lc_choose em.on{background-image:-webkit-gradient(linear,left top,left bottom,from(#f86700), to(#eb6100));background-image:-moz-linear-gradient(#f86700,#eb6100);background-image:-ms-linear-gradient(#f86700,#eb6100);background-image:-o-linear-gradient(#f86700,#eb6100);background-image:linear-gradient(#f86700,#eb6100);color:#fff;}
.lc_choose em:first-child{ border-right:1px solid #fff;border-radius:1em 0 0 1em;-moz-border-radius:1em 0 0 1em;-webkit-border-radius:1em 0 0 1em;}
.lc_choose em:last-child{border-radius:0 1em 1em 0;-moz-border-radius:0 1em 1em 0;-webkit-border-radius:0 1em 1em 0;}
.btn_width input.gray_btn[type="button"]{margin-top:10px;height:41px; line-height:40px; font-size:1.2em;background-image:-webkit-gradient(linear,left top,left bottom,from(#F6F6F6), to(#E4E4E4));background-image:-moz-linear-gradient(#F6F6F6,#E4E4E4);background-image:-ms-linear-gradient(#F6F6F6,#E4E4E4);background-image:-o-linear-gradient(#F6F6F6,#E4E4E4);background-image:linear-gradient(#F6F6F6,#E4E4E4);border:1px solid #BDBDBD;color: #131313;}
/*2013-11-21 产品中心填写资料*/
.pc_date_box{ display:inline-block; width:106px; height:84px;border:1px solid #a3a3a3;background-image:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9), to(#eaeaea));background-image:-moz-linear-gradient(#f9f9f9,#eaeaea);background-image:-ms-linear-gradient(#f9f9f9,#eaeaea);background-image:-o-linear-gradient(#f9f9f9,#eaeaea);background-image:linear-gradient(#f9f9f9,#eaeaea);border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em; padding:0 10px;color:#454545;line-height:2em;vertical-align:middle;}
.pc_date_box span{ display:block;}
.pc_date_box span:nth-of-type(2){color:#131313; font-size:1.7em;}
.pc_date_box span:nth-of-type(2).gray_color{color:#666;}
.pc_date_box span:last-child{ text-align:right;}
.pc_tab li{float:left;padding:0 10px 10px 0;}
.pc_tab li a{ display:block;border:1px solid #b5b5b5;background-image:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc), to(#cecece));background-image:-moz-linear-gradient(#fcfcfc,#cecece);background-image:-ms-linear-gradient(#fcfcfc,#cecece);background-image:-o-linear-gradient(#fcfcfc,#eaeaea);background-image:linear-gradient(#fcfcfc,#cecece);border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em; padding:0 10px;color:#333333; height:28px; line-height:28px;}
.pc_tab li a.on{ background:#ff4800;color:#fff;border:1px solid #ff4800;}
/*2013-11-27 常用联系人*/
.pc_section{line-height:30px; font-size:1.1em;}
.pc_section em{ font-size:12px; color:#959595;}
/*2013-11-22 支付*/
.pc_pay_section{ padding-bottom:20px;}
input.pay_input[type="text"]{ background-color:#f8f8f8;border:1px solid #cfcfcf;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:#959595;}
.pay_result{padding:20px 10px;}
.pay_result dt{float:left;width:59px; background-position:center center;background-repeat:no-repeat;height:70px;}
.pay_right_icon{background-image:url(../images/right_icon.png);}
.pay_wrong_icon{background-image:url(../images/wrong_icon.png);}
.pay_result dd{ margin-left:69px;}
.pay_font{ font-size:1.1em; font-weight:bold; padding-bottom:10px;}
/*2013-12-05 车险*/
.cx_title{color:#333;font-size:1.2em; padding-top:15px;}
.cx_title:nth-of-type(1){ padding-top:0;}
.cx_table{border-top:1px solid #cfcfcf;border-left:1px solid #cfcfcf;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em; background-color:#fff; text-align:center; border-collapse:inherit;}
.pc_box table th,.pc_box table td{padding:5px;border-right:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf; font-size:14px;}
.pc_box table th:first-child{-webkit-border-top-left-radius:.3em;border-top-left-radius:.3em;-moz-border-top-left-radius:.3em;}
.pc_box table th:last-child{-webkit-border-top-right-radius:.3em;border-top-right-radius:.3em;-moz-border-top-right-radius:.3em;}
.pc_box table tr:last-child td:last-child{-webkit-border-bottom-right-radius:.3em;border-bottom-right-radius:.3em;-moz-border-bottom-right-radius:.3em;}
.pc_box table tr:last-child td:first-child{-webkit-border-bottom-left-radius:.3em;border-bottom-left-radius:.3em;-moz-border-bottom-left-radius:.3em;}
.cx_pay_section{ padding:14px 0;}
.cx_pay_section input.pay_input[type="text"]{ background-color:#fff;}
.pc_box table .kindsDD{ position:relative;vertical-align:middle;background-color:#fafafa;}
.cx_w dt{ width:117px;}
.cx_w dd{ width:54%;}
.cx_prise{color:#959595; padding:0 10px; background-color:#fff; height:50px; line-height:50px;}
.cx_prise span{ font-size:1.2em;}
/*2013-12-11 理财王修改*/
.pc_star{ padding-bottom:20px;}
.pc_star li{ background:url(../images/star_icon.png) left center no-repeat; padding-left:15px;}
.f_15{ font-size:15px;}
.pc_notice{padding:10px 0 0 3px;}
.pc_notice .sex_bg{display:inline-block;margin-top:10px;vertical-align:bottom;}
.h_34{height:34px;}
/*2013-11-20 产品中心 lv end*/

/*2013-12-11 保全 lv start*/
.padding_t10{padding-top:10px;}
.padding_b10{padding-bottom:10px;}
.lc_import{ min-height:28px;line-height:28px; padding-bottom:10px;}
.lc_import dt{ width:101px; float:left;text-align:right;}
.lc_import dd{ margin-left:120px; position:relative;}
.lc_sb{ padding:15px 10px 10px;background-color:#fff;}
.phone{ display:none;}
.lc_tips dt,.lc_tips dd{ padding-bottom:14px;}
.lc_tips dt{color:#f96700;}
.lc_tips dt.wb{color:#131313; font-size:1.1em;}
.lc_btn{ padding:20px 0;}
.lc_get{padding:0 10px;}
.kindsDD2{ position:relative;border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em; -webkit-border-radius: 0.3em; height: 28px;line-height: 28px;border:none;box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);color: #464646; text-align:center; background: #eee url(../images/select_bg.png) 97% center no-repeat; margin:10px 10px 0;}
.details_list .kindsDD2 span{ float:none; text-align:center; width:auto;color:#464646;}
.ltx_info{padding:15px 10px 10px;}
.ltx_import{ padding-bottom:5px;}
.ltx_import dt{ float:left; width:130px; text-align:right;}
.ltx_import dd{ margin-left:130px; text-align:center;}
.details_list i.check_icon,.details_list i.check_icon_on{position:absolute;right:0;top:2px;width:27px;height:27px;background-image:url(../images/checkbox.png);background-repeat:no-repeat; cursor:pointer; margin:0;}
.details_list i.check_icon{background-position:0 -27px;}
.details_list i.check_icon_on{background-position:0 0;}
.margin_0{ margin:0;}
.weixin_layer{width:90%;position:fixed;left:50%;top:50%; overflow:hidden;text-align:center;display:none;}
.weixin_layer img{ width:100%; max-width:430px;}
/*2013-12-11 保全 lv end*/

/*2013-12-12 下载应用 start*/
.downApp dt{float:left;width:56px;}
.downApp dd{margin-left:64px; position:relative;}
.downApp h3{ font-size:1.1em; padding-bottom:12px;}
.down_icon{position:absolute;right:0;top:0;width:120px;}
.whole_list .down_icon a{ background-image:url(../images/download_icon4.png); background-repeat:no-repeat; display:inline-block;width:30px; height:31px;margin-left:10px; float:right;}
a.dl_icon1{ background-position:-40px 0;}
a.dl_icon2{ background-position:0 0;}
a.dl_icon3{ background-position:-80px 0;}
/*2013-12-12 下载应用 end*/
/*2013-12-16 单选按钮*/
.radio_btn,.radio_btn_on{background-image:url(../images/radio_btn.png); background-repeat:no-repeat;display:inline-block;width:18px; height:17px; vertical-align:middle; cursor:pointer;}
.radio_btn_on{background-position:left top;}
.radio_btn{background-position:left bottom;}


/* 2013-9-29 姚静 */
.center_p{ width:100%; line-height:36px; color:#333; text-align:center;}
.seconds{ font-weight:bold;}
.check{ height:26px; line-height:26px; margin-top:18px;}
.check dt{ width:76px; float:left; vertical-align:middle; height:26px; line-height:26px;}
.check dd{height:26px; line-height:26px; float:left; width:34%; padding-right:.5em; vertical-align:middle;}
.check dd:last-child{ padding-right:0; width:36%;}
.gray_input{ padding:10px 0; margin:0;}
.gray_input dt{ width:105px;}
.gray_input dd{width:43%;}
.gray_input dd:last-child{ width:53%;}
.lc_get .gray_input dd,.lc_get .gray_input dd:last-child{ width:60%;}
.gray_input2{padding-bottom:14px;margin:0;}
.gray_input2 dt{ width:70px;}
.gray_input2 dd,.gray_input2 dd:last-child{ width:72%;}
.check input{  height:26px; line-height:26px; border: 1px solid #BDBDBD; border-radius:.3em; -moz-border-radius:.3em; -ms-border-radius:.3em; -o-border-radius:.3em; -webkit-border-radius:.3em; color: #131313; cursor: pointer; text-align: center;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#F6F6F6),color-stop(100%,#E4E4E4));background-image:-moz-linear-gradient(#F6F6F6 0,#E4E4E4 100%);background-image:-ms-linear-gradient(#F6F6F6 0,#E4E4E4 100%);background-image:-o-linear-gradient(#F6F6F6 0,#E4E4E4 100%);background-image:linear-gradient(#F6F6F6 0,#E4E4E4 100%); font-size:1em;}
.check input.text_left{ background:#fff; text-align:left;}
.gray_input input.text_left,.gray_input2 input.text_left{ background:#eee; height:30px; border:none;}
/*input输入框不可点击文字颜色*/
.gray_input input:disabled,.gray_input2 input:disabled{color:#959595;} 
.gray_input2 input[type="checkbox"]{ line-height:normal; height:auto;}
.error{ padding-left:76px; float:left; line-height:26px; color:#ED2100; margin-bottom:18px;}
.dt_empty dt{ width:0;}
.dt_empty dd{ width:47%;}
.no_padding_l{ padding-left:0;}
.margin_t{margin-bottom:20px;}
.margin_b{ margin-bottom:-10px;}
#data {width: 190px;height: 114px;position: fixed;left: 0;top: 0;background: #fff;display: none;}
.padding_p{ padding:20px 10px; text-align:center;}
.two_button{ position:absolute; bottom:0; left:0; width: 100%;}
.two_button input{ word-spacing:.2em;}
.two_button input[type="button"]{ width:50%; float:left; height:30px; line-height:30px; border:none; outline:none; background:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0; }
.two_button input:first-child{ background:#9c9160;}
.two_button input:last-child{background:#ea6100;}
#mark,#mark1 {position: fixed;left: 0;top: 0;background: #000;opacity: 0.5;filter: alpha(opacity = 50); z-index:100; width:100%; height:100%; display:none;}

/*2013-10-8  姚静  保单服务-保单查询- 车险  家财险  意健险  */
.header{ height:32px;background: linear-gradient(#fdfdfd, #d9d9d9) repeat scroll 0 0 #ededed; border-bottom: 1px solid #bababa;border-top: 1px solid #f4f4f4; color: #FFFFFF; font-size: 1.3em; line-height: 41px;text-align: center; padding:4px 10px;margin-top: 43px;}
.header h3{ float:left; width:50%; font-weight:normal; cursor: pointer;font-size:.9em;}
.current{background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffc34f),color-stop(100%,#ffa902));background-image:-moz-linear-gradient(#ffc34f 0,#ffa902 100%);background-image:-ms-linear-gradient(#ffc34f 0,#ffa902 100%);background-image:-o-linear-gradient(#ffc34f 0,#ffa902 100%);background-image:linear-gradient(#ffc34f 0,#ffa902 100%);color:#fff;}

.butt_wrap{background-image: linear-gradient(#ededed, #efefef); border: 1px solid #fff;border-top:1px solid #c6c6c6; border-radius: 1em; box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.2); -ms-box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.2); -o-box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.2); color: #aeabab; height: 28px; line-height: 28px; overflow:hidden;}
.carInsurance{ min-height:28px; margin-top:8px; line-height:28px;}
.carInsurance dt{ width:90px; float:left; vertical-align:middle; text-align:right;}
.carInsurance dd{ vertical-align:middle; margin-left:98px;}
.carInsurance input{ height:25px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.tab_div{ display:none;}
.show_div{ display:block;}

/*2013-10-8  姚静  万能险利率和投连险价格查询all-powerful.html +  投连险信息结果 */
.tab_wrap{ height:27px;}
.tab_wrap h4{ height:24px; line-height:24px; width:50%; border-bottom:3px solid #d9d9d9; float:left; text-align:center; cursor:pointer; color:#6f6f6f;}
.tab_wrap h4.curr_h4{ border-bottom:3px solid #ee9507; color:#3f3f3f;}
.allPowerful_tab_div{ display:none;}
.allPowerful_show_div{ display:block; position:relative;}
.allPowerful_dl{ height:27px; margin-top:10px; width:100%; position:relative;}
.allPowerful_dl dt,.allPowerful_dl dd{ height:25px; line-height:24px; vertical-align:middle;}
.allPowerful_dl dt{ width:72px; float:left; text-align:right;}
.allPowerful_dl dd{ margin:0 60px 0 80px; height:26px; line-height:26px; border-radius: .3em; -moz-border-radius: .3em; -ms-border-radius: .3em; -o-border-radius: .3em; -webkit-border-radius: .3em; border:none; box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -o-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);color: #464646; padding-left: 0.5em; background:#fff;}
.allPowerful_dl dd:last-child{ width:40px; background:url(../images/calendar.png) 0 0 no-repeat; margin-left:10px; position:absolute; top:0; right:0; margin-right:0; box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; -o-box-shadow:none; -webkit-box-shadow:none;}
.kinds{ height:26px; line-height:26px;}
.margin_top10{ margin-top:10px;}
.radio_bg{ padding-left:20px; background:url(../images/radio.png) 0 6px no-repeat;}
.timeSpan{ color:#6f6f6f; margin-bottom: 10px;}
.linearData{ margin:14px auto;}
.linearData img{ width:100%;}
.logBtn{ width:50px; height:50px;background:url(../images/icons.png) 0 -117px no-repeat; position:fixed; bottom:10px; left:10px; cursor:pointer; z-index:20;}

/*2013-10-10  姚静  保单详情1 details1.html +  服务人员信息 servicePersonal.html */
.jag_color li{ /*height:20px;*/ line-height:20px; width:100%;}
.jag_color span{ float:left; width:40%;}
.jag_color i{ width:60%; text-align:right;display: block; margin-left:40%;}
.margin_t_minus{ margin-top:-43px;}
.details_list,.whole_list{ background:#fff; border-radius:.5em; -moz-border-radius:.5em; -ms-border-radius:.5em; -o-border-radius:.5em; -webkit-border-radius:.5em; margin-bottom:14px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);}
.margin_b0{ margin-bottom:0;}
.details_list h4{ height:35px; line-height:35px; border-bottom:1px dashed #ccc; text-align:center; color:#333;}
.details_list ul{padding:10px; border-bottom:dashed 1px #ccc; padding-top:15px}
.details_list ul:nth-last-of-type(1){border-bottom:none;}

.details_list li{line-height:16px; margin-bottom:10px; font-size: 1em; color:#444;min-height:16px}
.details_list li:before,.details_list li:after{content:"";display:table}
.details_list li:after{clear:both}
.details_list li{*zoom:1}
.details_list li.gray_color{color:#999;}
.details_list li .red_color{color:#ed2100;}
.details_list li.orange_color{color:#fe5413;}
.details_list span{ float:left; text-align:right; width:32%; color:#999;}
.details_list i{ margin-left:36%; display:block;word-break:break-all;}
/*.details_list ul.width50 span{ width:50%;}
.details_list ul.width50 i{ width:auto; margin-left:60%;}
.details_list ul.survival span{width:55%;}
.details_list ul.survival i{margin-left:58%; }
.details_list ul.fee span{ width:42%;}*/
.favoree{ padding:12px;}
.details_list p{ color:#444;}
/*2013-10-10  姚静  保单详情2   details2.html */
.whole_list li{ height:42px; line-height:42px; border-bottom:1px dashed #ccc; padding:0 13px 0 16px; background:url(../images/arrow.png) 96% center no-repeat;}
.whole_list li:last-child{ border-bottom:none;}
.whole_list a{ display:block;}
/*2013-10-11  姚静  mine.html  我的保单:官网保单/其他保单 两个页面切换  */
.whole_list div{ position:relative; padding:10px;}
.whole_list span{ position:absolute; right:10px; top:10px; width:56px; height:44px; background-image:url(../images/insurance.png); background-repeat:no-repeat;}
.green_bg{ background-position:0 0;}
.gray_bg{ background-position:0 -59px;}
.whole_list input[type="button"],.whole_list input.red_btn[type="button"],input.pc_button[type="button"],input.cx_btn[type="button"]{ width:auto; padding:0 10px; margin-top:10px; margin-right:4px;height:35px; line-height:34px; font-size:1em;}
.whole_list input[type="button"],input.pc_button[type="button"]{background-image:-webkit-gradient(linear,left top,left bottom,from(#F6F6F6), to(#E4E4E4));background-image:-moz-linear-gradient(#F6F6F6,#E4E4E4);background-image:-ms-linear-gradient(#F6F6F6,#E4E4E4);background-image:-o-linear-gradient(#F6F6F6,#E4E4E4);background-image:linear-gradient(#F6F6F6,#E4E4E4); border: 1px solid #BDBDBD;color: #131313;}
input.pc_button[type="button"]{ margin:0 0 10px 0;height:30px; line-height:30px;}
input.cx_btn[type="button"]{ margin:10px 0 0 0;height:30px; line-height:30px;}
.whole_list input.red_btn[type="button"],input.cx_btn[type="button"]{border:1px solid #f96700;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#f86700), to(#eb6100));background-image:-moz-linear-gradient(#f86700,#eb6100);background-image:-ms-linear-gradient(#f86700,#eb6100);background-image:-o-linear-gradient(#f86700,#eb6100);background-image:linear-gradient(#f86700,#eb6100);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2);background-color:#f86700; margin-left:6px;}
.whole_list input.red_btn[type="button"]:active,input.cx_btn[type="button"]:active{background-image:linear-gradient(#eb6100, #f86700); -moz-background-image:linear-gradient(#eb6100, #f86700); -ms-background-image:linear-gradient(#eb6100, #f86700); -o-background-image:linear-gradient(#eb6100, #f86700); -webkit-background-image:linear-gradient(#eb6100, #f86700);box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; -o-box-shadow:none; -webkit-box-shadow:none;}
.more_list{ height:28px; line-height:28px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); text-align:center; margin-top: -18px; background:#eee; cursor:pointer;}
.more_list a,.whole_list a.more_detail{ padding-right:16px; color:#737373; position:relative;}
.whole_list a.more_detail{ display:inline;}
.more_list i,.whole_list a.more_detail i{ background-image:url(../images/more_list.png); position:absolute; width:10px; height:8px; top:4px; right:0; background-repeat:no-repeat;background-position:0 0;}
.more_list i.up,.whole_list a.more_detail i.up{ background-position:0 -9px;}
.relevance{ height:28px; line-height:28px;}
.new_relevance{ height:28px; line-height:28px; margin-top:20px;}
.bind_check{ margin-top:0;}
.bind_check dd{ width:70%;}
.bind_check dd:last-child{ width:25%;}

.whole_list input[type="button"]:active{background-image:linear-gradient(#E4E4E4, #F6F6F6); -moz-background-image:linear-gradient(#E4E4E4, #F6F6F6); -ms-background-image:linear-gradient(#E4E4E4, #F6F6F6); -o-background-image:linear-gradient(#E4E4E4, #F6F6F6); -webkit-background-image:linear-gradient(#E4E4E4, #F6F6F6);box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; -o-box-shadow:none; -webkit-box-shadow:none;}
.check input[type="button"]:active{box-shadow:0px 0px 4px #999 inset; -moz-box-shadow:0px 0px 4px #999 inset; -ms-box-shadow:0px 0px 4px #999 inset; -o-box-shadow:0px 0px 4px #999 inset; -webkit-box-shadow:0px 0px 4px #999 inset;}
.check input[type="text"]{box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; -o-box-shadow:none; -webkit-box-shadow:none;}
.check input[type="text"]:focus{box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);}
.gray_input input[type="text"],.gray_input input[type="text"]:focus,.gray_input2 input[type="text"],.gray_input2 input[type="text"]:focus{-webkit-box-shadow:0 -1px 1px rgba(0,0,0,.2);-moz-box-shadow:0 -1px 1px rgba(0,0,0,.2);box-shadow:0 -1px 1px rgba(0,0,0,.2); text-align:left;}

.borderBox{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.whole_list input.btn_pst[type="button"]{ position:absolute;right:8px;top:30%; margin:0; padding:0 3px;}

/*2013-10-11  姚静  提示弹框 */
.hint_over,.hint_over1,.hint_register{ width:60%;padding:4px; background:#fff; border-radius:.5em; -moz-border-radius:.5em; -ms-border-radius:.5em; -o-border-radius:.5em; -webkit-border-radius:.5em; color:#333; position:fixed;left:50%;top:50%; overflow:hidden; border:5px solid rgba(0,0,0,0.7);display:none;}
.hint_cont{  padding:10px 0;}
.hint_cont em{ color:#e41300;}
.hint_over input[type="button"]{ width:100%; margin-top:6px; border:none; background-image: linear-gradient(#f86700, #bd4e00); -moz-background-image: linear-gradient(#f86700, #bd4e00); -ms-background-image: linear-gradient(#f86700, #bd4e00); -o-background-image: linear-gradient(#f86700, #bd4e00); -webkit-background-image: linear-gradient(#f86700, #bd4e00);box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; -o-box-shadow:none; -webkit-box-shadow:none;}
.hint_register input:last-child[type="button"]{background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#85784d),color-stop(100%,#665b3b));background-image:-moz-linear-gradient(#85784d 0,#665b3b 100%);background-image:-ms-linear-gradient(#85784d 0,#665b3b 100%);background-image:-o-linear-gradient(#85784d 0,#665b3b 100%);background-image:linear-gradient(#85784d 0,#665b3b 100%);box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; -o-box-shadow:none; -webkit-box-shadow:none;}
.hint_register input[type="button"]{ width:48%;height: 40px; margin-top:6px; border:none;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f86700),color-stop(100%,#bd4e00));background-image:-moz-linear-gradient(#f86700 0,#bd4e00 100%);background-image:-ms-linear-gradient(#f86700 0,#bd4e00 100%);background-image:-o-linear-gradient(#f86700 0,#bd4e00 100%);background-image:linear-gradient(#f86700 0,#bd4e00 100%);}

/*2013-10-16  姚静  实名认证 */
.text_l dt{ text-align:right; width:60px;}
.text_l dd{ margin-left:68px;}
.check button{ background-image: linear-gradient(#F6F6F6 0px, #E4E4E4 100%); -moz-background-image: linear-gradient(#F6F6F6 0px, #E4E4E4 100%); -ms-background-image: linear-gradient(#F6F6F6 0px, #E4E4E4 100%); -o-background-image: linear-gradient(#F6F6F6 0px, #E4E4E4 100%); -webkit-background-image: linear-gradient(#F6F6F6 0px, #E4E4E4 100%);box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); border: 1px solid #BDBDBD; border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em; -webkit-border-radius: 0.3em;color: #131313; cursor: pointer; height: 26px;line-height: 26px;text-align: center; font-size:.8em; width:100%; padding:0;} 
.gray_input button,.gray_input2 button{ height:30px; line-height:30px;box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
/*2013-10-16  姚静  基本资料 */
.sex_bg{ width:52px; height:24px; line-height:24px; background:url(../images/sex2.png) 0 0 no-repeat; color:#fff; position:relative;}
.sex_bg2{ width:99px; height:24px; line-height:24px; background:url(../images/sex2_2.png) 0 0 no-repeat; color:#fff; position:relative;}
.sex_bg span{ float:left; width:20px; padding-left:6px; text-align:left;}
.sex_bg span:last-child,.sex_bg2 span:last-child{float:right; padding-left:0; padding-right:6px; text-align:right;}
.curr_sex{ background:url(../images/sex1.png) 0 0 no-repeat; width:25px; height:24px; position:absolute; left:-1px; top:1px;}
.sex_bg2{ width:99px; height:24px; line-height:24px; background:url(../images/sex2_2.png) 0 0 no-repeat; color:#fff; position:relative;}
.sex_bg2 span{ float:left; width:43px; padding-left:6px; text-align:left;}
.curr_sex2{ background:url(../images/sex1_2.png) 0 0 no-repeat; width:51px; height:24px; position:absolute; left:-1px; top:1px;}

.dataDD{padding-left:0.5em;border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em; -webkit-border-radius: 0.3em; height: 28px;line-height: 28px;border:none;box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -o-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);color: #464646; background:#fff url(../images/dataDD_bg.png) 97% center no-repeat;}
.kinds_list{ width:100%; height:28px; line-height:28px; position:absolute; left:0; top:0; opacity: 0;filter: alpha(opacity = 0); text-align:center;cursor:pointer;}
/*.kinds_list option{ height:28px; line-height:28px;}*/
.text_l dd{ position:relative;}
.kindsDD{ position:relative;border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em; -webkit-border-radius: 0.3em; height: 28px;line-height: 28px;border:none;box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -o-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);color: #464646; text-align:center; background: #fff url(../images/select_bg.png) 97% center no-repeat;}
.short_dt dt{ width:60px;}
.short_dt dd{ margin-left:68px;}

/*2013-10-17  姚静  SOS卡服务除外责任 */
.padding10{ padding:10px;}
.padding10 p.text_title{ color:#333; font-size:1em; margin-bottom:4px;}
.padding10 p{ color:#444; font-size:.9em; line-height:20px; margin-bottom:5px;}
.sos_here a{ color:#1aa0e1;}
.padding10 li{ height:auto;}
.details_list h4.no_border_b{ border-bottom:none;margin-bottom: -10px;}
.noInformation{padding:50px; text-align:center; display:none;}
.noInformation a{ color:#2773eb;}
.information{padding:50px;}
/*2013-10-21  姚静  实名认证 */
.min_height200{ min-height:200px;}
/*2013-10-21  姚静  万能账户查询 */
.all_wrap{ padding:10px;}
.all_wrap div{ border-bottom:1px dashed #ccc; padding:10px 0;}
.all_wrap div:nth-last-of-type(1){ border-bottom:none;}
.all_wrap p{ position:relative; line-height:20px; margin-bottom:5px}
.all_wrap h4,.all_wrap p:first-child{ color:#000; font-size:1.1em; padding-bottom:6px;}
.all_wrap strong{ position:absolute; right:10px;}
.all_wrap p.lastOne{ color:#666; margin-top:10px;}
/*2013-10-24 姚静 保险账户信息-列表userInfo.html  页面修改新增样式*/
.all_wrap h4.no_border_dashed{ border-bottom:none; text-align:left;}
.allP_normal p:first-child { color: #444; font-size: 1em; padding-bottom:0;}
.recordBtn input[type="button"]{border:1px solid #bdbdbd;background-image:-webkit-gradient(linear,left top,left bottom,from(#f6f6f6), to(#e4e4e4));background-image:-webkit-linear-gradient(#f6f6f6,#e4e4e4);background-image:-moz-linear-gradient(#f6f6f6,#e4e4e4);background-image:-ms-linear-gradient(#f6f6f6,#e4e4e4);background-image:-o-linear-gradient(#f6f6f6,#e4e4e4);background-image:linear-gradient(#f6f6f6,#e4e4e4);color:#131313; width:200px;}

/*2013-10-29 姚静 资讯详情*/
.border_dashed{border-bottom: 1px dashed #ccc; color:#333; height: 35px; line-height: 35px;}
.autherDetails{ padding:10px 0;border-bottom: 1px dashed #ccc;}
.autherDetails p{ line-height:20px; color:#7d7d7d; font-size:.8em;}
.article_wrap{ padding:10px 0;}
.article_wrap p{ line-height:22px; color:#333; text-indent:2em;}
/*2013-11-01 姚静 关于阳光-列表*/
.aboutYG_list li{border-bottom:1px solid #ccc; background:url(../images/arrow_orange.png) 96% center no-repeat;}

/*2013-12-05 尹鹤珠 车险-资料补充*/
.pc_dl_sp{padding:10px;}
.lc_box_p{padding:10px 10px 0 10px;}

.pc_box{position:relative;}
.mohu_div{position:absolute;top:344px;z-index:9;background:white;right:10px;left:10px;}
.mohu_div p{ line-height:20px; border-bottom:solid 1px #ccc;padding:5px 0px;}
/*2013-12-20*/
.pc_dl dd input[type="search"]{background-color:#FAFAFA;border-radius: 0.3em; -moz-border-radius: 0.3em;-webkit-border-radius: 0.3em; height: 28px;line-height: 28px;border:none;box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);color: #464646;width:100%;margin-top:3px;}
.car_closeIcon{ background:url(../images/car_closeIcon.png) 0 0 no-repeat;position:absolute;right:5px;top:6px;display:inline-block;width:20px;height:20px;}
.js_date_3{font-size:.9em;}